.screenMainContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  padding-top: 30px;
  border-radius: 9px 9px 0 0;
  background-color: #545255;
  color: white;
}

.screenTest {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.3em;
  color: #ffffff;
  font-size: 45px;
}
